[includeIf "hasconfig:remote.*.url:github.com:nexdep/**"]
  path = ~/.gitconfig-nexdep

[includeIf "hasconfig:remote.*.url:https://github.com/nexdep/**"]
  path = ~/.gitconfig-nexdep

[includeIf "hasconfig:remote.*.url:github.com:marco-de-pietri/**"]
  path = ~/.gitconfig-marco

[includeIf "hasconfig:remote.*.url:https://github.com/marco-de-pietri/**"]
  path = ~/.gitconfig-marco
